@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #f2f2f2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 32px;
  font-weight: 800;
  margin-left: 40px;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  margin-right: 30px;
}
nav a {
  margin: 20px;
  font-weight: 700;
}
nav a:hover {
  color: #99b524;
  transition: 0.3s all;
}
.selected-btn {
  background-color: #99b524;
  color: white;
  border: 2px solid #99b524;
  padding: 5px 20px;
  border-radius: 15px;
}
.selected-btn:hover {
  color: white;
}
main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
}
img {
  width: 580px;
  margin-left: 40px;
}
aside {
  max-width: 500px;
}
h2 {
  font-size: 48px;
  line-height: 60px;
}
span {
  color: #99b524;
}
h2 span {
  font-size: 76px;
}
p {
  font-size: 24px;
  max-width: 400px;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
form [type='submit'] {
  height: 50px;
  width: 50%;
  background-color: #99b524;
  color: white;
  font-weight: bold;
}
form [type='submit']:hover {
  cursor: pointer;
}
input {
  margin-top: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border-color: #d4d3d3;
}

@media (max-width: 850px) {
  header {
    flex-direction: column;
  }
  .logo {
    margin-top: 10px;
    margin-left: 0px;
  }
  nav {
    margin-top: 30px;
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  aside {
    margin: 0 auto;
    text-align: center;
  }
  h2 {
    font-size: 38px;
  }
  p {
    margin: 0 auto;
  }
  form {
    margin: 0 auto;
    width: 100%;
  }
  input {
    align-self: center;
    width: 80%;
  }
  img {
    display: none;
  }
}

@media (max-width: 500px) {
  nav a {
    margin: 5px;
  }
  h2 {
    font-size: 30px;
  }
  h2 span {
    font-size: 50px;
    font-weight: bolder;
  }
  p {
    font-size: 18px;
  }
}
